<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6mPVHGA4ySjv2klvv9yKokd-GSTqsB3A</string>
	<key>GCM_SENDER_ID</key>
	<string>618958872225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adhikar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>adhikar-2d604</string>
	<key>STORAGE_BUCKET</key>
	<string>adhikar-2d604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618958872225:ios:07d78f096b1c8c6977dae0</string>
</dict>
</plist>